<!DOCTYPE html>
<html> 

    <head>
        <meta charset="UTF-8">
        <title>About the Data</title>
        <link rel="stylesheet" href="../static/main.css">
    </head>

    <body>
        <section class = "navigation bar">
            <nav>
                <ul>
                    <div class="logo-text"><h1>SAFE<b>US</b></h1></div>
                    <li class="active"><a href='/'>🏠 Home</a></li>
                    <li><a href='/state'>🔎 Search by State</a></li>
                    <li><a href="/year">🔎 Search by Year</a></li>
                    <li><a href="/about">🗂️ About the Data</a></li>
                    
                </ul>
            </nav>
        </section>
    
        <h2>About the Data</h2>
    </section>
    <!-- Educational Section -->
    <section class="educational-section">
    <div class="Purpose">
        <!-- Data Source Info -->
        <div>
            <h3>Data source</h3>
            <p>The primary dataset used in this project comes from the <a href="https://corgis-edu.github.io/corgis/csv/drugs/">CORGIS Drugs Dataset</a>, which provides data in spreadsheet format and was retrieved on April 27, 2020.</p>
            <p>Additional reference information was obtained from the <a href="https://pdas.samhsa.gov/#/">Substance Abuse and Mental Health Services Administration (SAMHSA)</a>.</p>
        </div>

        <h3>Why Explore This Data?</h3>
        <p>Drug use affects individuals and society in complex ways. Understanding the data behind usage trends can empower people to make informed decisions and inspire public health initiatives as shown in <a href="https://www.justice.gov/archive/ndic/pubs11/18862/impact.htm"> National Drug Intelligence Center</a> page.</p>
        <p>Exploring this data helps reveal important trends in substance use across the United States. It provides valuable insights that can guide research, public health policies, and prevention programs.</p>
    
    <br><br>

        <h4>By exploring this data, you can:</h4>
        <ul>
            <li>View trends over time for different substances.</li>
            <li>Compare usage rates across states.</li>
            <li>Identify patterns that may inform prevention and treatment efforts.</li>
            <li>Understand how drug and alcohol use varies by age group.</li>
            <li>Support data-driven decisions that promote healthier communities</li>
        </ul>
        <p>Please use this website freely!</p>
    </div>
</section>
</body>
</html>