<!DOCTYPE html>
<!-- Reference: https://www.youtube.com/watch?v=A7qwwmkFl3o  -->
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <title> SAFEUS Homepage</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    </head>

    <body>
        <section class = "navigation bar">
        <nav>
            <ul>
                <div class="logo-text"><h1>SAFE<b>US</b></h1></div>
                <li class="active"><a href='/'>🏠 Home</a></li>
                <li><a href='/state'>🔎 Search by State</a></li>
                <li><a href="/year">🔎 Search by Year</a></li>
                <li><a href="/about">🗂️ About the Data</a></li>
                
            </ul>
        </nav>
        </section>

        <section class="grid">
            <div class="content">

                <div class="content-left">

                    <div class="info">
                        <h2>Search Data about <br> Substance Abuse </h2>
                        <p>Reading through CSVs and Excel could be tiring😫.<br>SAFEUS is a website providing online search service for the CORGIS Dataset Project</p>
                    </div>

                    <a href="/start_explore">
                    <button type = "button" >Start Exploring</button>
                    </a>

                    <div class="acronym ">
                        <p>SAFEUS stands for: </p>
                        <p><b>S</b>ubstance</p>
                        <p><b>A</b>buse</p>
                        <p><b>F</b>ree</p>
                        <p><b>E</b>nvironment</p>
                        <br>
                        <p>To learn more about substances in the</p>
                        <p>database...</p>
                        <br>
                        <p><b>Go to the about the data page!</b></p>
                    </div>
                    
                </div>

                <div class="content-right">
                    <img src="{{ url_for('static', filename='images/4in1-image.png') }}" alt="">
                </div>
            </div>
        </section>
    </body>
</html>
