<!DOCTYPE html>
<html> 

    <head>
        <meta charset="UTF-8">
        <title>{{yeardisplay}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>

    <body>
        <section class = "navigation bar">
        <nav>
            <ul>
                <div class="logo-text"><h1>SAFE<b>US</b></h1></div>
                <li class="active"><a href='/'>🏠 Home</a></li>
                <li><a href='/state'>🔎 Search by State</a></li>
                <li><a href="/year">🔎 Search by Year</a></li>
                <li><a href="/about">🗂️ About the Data</a></li>
                
            </ul>
        </nav>
        </section>

        <div>
            <h2>Search by Year and Substance</h2>
        </div>

        <!-- Combined Search Form -->
        <div class="search-box">
            
            <form onsubmit="event.preventDefault(); const year = document.getElementById('year').value; const substance = document.querySelector('input[name=\'substancechoice\']:checked').value; window.location.href = `/year/${year}/substance/${substance}`;">

                <!-- Year Input -->
                <label for="year">Enter a Year (2002-2018):</label>
                <input type="text" id="year" name="year" pattern ="[0-9]{4}" placeholder="Enter a year between 2002 and 2018" required>
                <br><br>

                <!-- Substance Selection -->
                <label>Select a Substance:</label>
                <div class ="substance-options">

                    <div>
                        <input type="radio" id="Cocaine" name="substancechoice" value="Cocaine" required>
                        <label for="Cocaine">Cocaine</label>
                    </div>
                    
                    <div>
                        <input type="radio" id="Tobacco" name="substancechoice" value="Tobacco">
                        <label for="Tobacco">Tobacco</label>
                    </div>
                    
                    <div>
                        <input type="radio" id="Marijuana" name="substancechoice" value="Marijuana">
                        <label for ="Marijuana">Marijuana</label>
                    </div>

                    <div>
                        <input type="radio" id="Alcohol" name="substancechoice" value="Alcohol">
                        <label for ="Alcohol">Alcohol</label>
                    <div>

                </div>
                <button type="submit">Search</button>
            </form>
        </div>
    </body>
</html>